body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background-image: url("https://wallpapercave.com/wp/wp5194625.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.container { 
    background-color: white; 
    opacity: 0.6;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: center; 
} 
 
h1 { 
    margin-bottom: 10px; 
} 
 
input { 
    padding: 5px; 
    width: 150px; 
    margin-right: 10px; 
} 
 
select { 
    padding: 5px; 
    margin-right: 10px; 
} 
 
button { 
    padding: 5px 10px; 
    background-color: #ae0c0c; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
} 
 
#result { 
    margin-top: 20px; 
    font-weight: bold; 
}